@font-face{
    font-family: 'Sun_font';
    src: url('../fonts/Typo_DodamL.ttf');
}

#Alert-space{
    z-index: 9999;
    left: 40%;
    top: -44%;
    width: 20%;
    height: 40%;
    /*border: 1px solid #EEE;
    box-shadow: -4px 0 0 #EEE;
    */
    box-shadow: 0 2px 2px #333, 0 -3px 0 #EEE inset;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    color: #FFF;
    background-color: #333;
    opacity: 0.9;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0.1s;
    text-align: center;
    vertical-align: bottom;
    position: absolute;
}
#Alert-space #Alert-space-top{
    position:relative;
}
#Alert-space #Alert-space-text{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    font-size:100%;
    font-family: 'Sun_font';
}

#Recorded-Video-container{
    /*width: calc(100% - 70px);*/
    width:100%;
    height: 100%;
    position: absolute;
    /*margin-left: 70px;*/
    background-color: #444;
    -webkit-transition-duration: 0.2s;
    bottom:0;
    z-index: 1000;
    display:none;
}

#Recorded-Videos{
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    background-color: #444;
}
#Recorded-Videos-controlbar{
    width:30%;
    height:10%;
    margin-left: 35%;
    margin-top: 1%;
    background-color: #444;
    text-align: center;
}
#Recorded-Videos-controlbar button{
    width: 18%;
    height: 50%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
    linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
    /*border:1px solid #333; -webkit-border-radius: 5px; font-size:12px;font-family:trebuchet MS, sans-serif; padding: 1px 1px 1px 1px; text-decoration:none; display:inline-block; color: #FFFFFF;
    background-color: #FFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#707070));
    background-image: -webkit-linear-gradient(top, #FFF, #707070);
    background-image: linear-gradient(to bottom, #FFF, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFF, endColorstr=#707070);*/
}
#Recorded-Videos-controlbar button:hover{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    /*background-color: #bababa; background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#333));
    background-image: -webkit-linear-gradient(top, #bababa, #333);
    background-image: linear-gradient(to bottom, #bababa, #333);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#333);*/
}

#Recorded-Videos-controlbar button a{
    color: #333;
    height: 50%;
    width: 100%;
}

#recordimg{
    float:top;
    float:right;
    height: 3%;
    width: 3%;
    opacity:0.7;
    display:none;
    /*animation: blink 1.7s steps(3, start) infinite;*/
    -webkit-animation: blink 1.7s steps(2, start) infinite ;
    animation: blink 1.7s linear infinite;
    z-index:9999;
}

#backhome{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5%;
    width: 5%;
    opacity:0.9;
    display:none;
    z-index:9999;
    background-color: #444;
    /*animation: blink 1.7s steps(3, start) infinite;*/
}
