<html xmlns="http://www.w3.org/1999/html">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <!--<script src="http://cdn.binaryjs.com/0/binary.js"></script>-->
    <script src = "/javascripts/binary.js"> </script>


    <script>
        var client = new BinaryClient('ws://210.118.64.172:8100');

        client.on('stream' , function(stream , meta){
            var buffer = [];
            console.log(meta);
            console.log('-----------------');
            stream.on('data' , function(data){
                console.log(data);
                buffer.push(data);
            });
            stream.on('end' , function(){

                console.log('end log');
                var video = document.createElement("video");
                video.src = (window.URL || window.webkitURL).createObjectURL(new Blob(buffer));
                video.autoplay = true;
                video.load();
                document.body.appendChild(video);




            });
        });

        // Wait for connection to BinaryJS server
        client.on('open', function(){
            client.send({} , {roomname : 'testroomname' , filetype : 'init' , sendType: 'p2p'});
            var box = $('#box');
            box.on('dragenter', doNothing);
            box.on('dragover', doNothing);
            box.text('Drag files here');
            box.on('drop', function(e){
                e.originalEvent.preventDefault();
                var file = e.originalEvent.dataTransfer.files[0];

                // Add to list of uploaded files
                $('<div align="center"></div>').append($('<a></a>').text(file.name).prop('href', '/'+file.name)).appendTo('body');

                // `client.send` is a helper function that creates a stream with the
                // given metadata, and then chunks up and streams the data.
                var fileinfo = {};

                fileinfo.fileEndata = new Date();
                fileinfo.username = '';
                fileinfo.filename =  file.name;
                fileinfo.groupname = '';
                fileinfo.roomname = 'testroomname';
                fileinfo.sendType = 'p2p';
                filesize = file.size;

                var stream = client.send(file,fileinfo);


                // Print progress
                var tx = 0;
                stream.on('data', function(data){
                    $('#progress').text(Math.round(tx+=data.rx*100) + '% complete');
                });
            });
        });

        // Deal with DOM quirks
        function doNothing (e){
            e.preventDefault();
            e.stopPropagation();
        }



    </script>
</head>
<body>

<!--<script src="//cdn.WebRTC-Experiment.com/getScreenId.js"></script>-->
<script src="//cdn.WebRTC-Experiment.com/getScreenId.js"></script>
<video controls autoplay></video>
<script>
    getScreenId(function (error, sourceId, screen_constraints) {
        navigator.getUserMedia = navigator.mozGetUserMedia || navigator.webkitGetUserMedia;
        navigator.getUserMedia(screen_constraints, function (stream) {
            document.querySelector('video').src = URL.createObjectURL(stream);
        }, function (error) {
            console.error(error);
        });
    });
</script>


<div id="progress" align="center">0% complete</div>
<div id="box" style="background: #eee; font-size: 26px; width: 400px; height: 300px;line-height: 300px; margin: 0 auto; text-align: center;">
    Connecting...
</div>
</body>
</html>
