<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <title><%= title %></title>

    <meta name="generator" content="Bootply"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/stylesheets/Joinstyles.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/myVideo.css" rel="stylesheet">
    <script src="/javascripts/webrtc.io.js"></script>

</head>
<body style="padding-top:0px;" onload="init()">


<div class="container-fluid">
    <div style="margin-left:120px;" class="row row-offcanvas row-offcanvas-left">
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="#" class="glyphicon glyphicon-log-out"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-comment"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-adjust"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-user"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-facetime-video"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-repeat"></a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9 col-md-10 main">
            <h1 class="page-header">
                Room List
                <!--<p class="lead">(with off-canvas sidebar)</p>-->
            </h1>

            <!-- <a href="#" class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="right" data-original-title="Default tooltip"></a></li>-->

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder text-center">
                    <img src="/images/profile.jpg" class="center-block img-responsive img-circle"
                         alt="Generic placeholder thumbnail">
                    <h4>No.1(방번호)</h4>
                    <span class="text-muted">사용자 정보</span>
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-center">
                    <img src="/images/profile.jpg" class="center-block img-responsive img-circle"
                         alt="Generic placeholder thumbnail">
                    <h4>No.1(방번호)</h4>
                    <span class="text-muted">사용자 정보</span>
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-center">
                    <img src="/images/profile.jpg" class="center-block img-responsive img-circle"
                         alt="Generic placeholder thumbnail">
                    <h4>No.1(방번호)</h4>
                    <span class="text-muted">사용자 정보</span>
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-center">
                    <img src="/images/profile.jpg" class="center-block img-responsive img-circle"
                         alt="Generic placeholder thumbnail">
                    <h4>No.1(방번호)</h4>
                    <span class="text-muted">사용자 정보</span>
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-center">
                    <img src="/images/profile.jpg" class="center-block img-responsive img-circle"
                         alt="Generic placeholder thumbnail">
                    <h4>No.1(방번호)</h4>
                    <span class="text-muted">사용자 정보</span>
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder text-center">
                    <img src="/images/profile.jpg" class="center-block img-responsive img-circle"
                         alt="Generic placeholder thumbnail">
                    <h4>No.1(방번호)</h4>
                    <span class="text-muted">사용자 정보</span>
                    <button type="button" class="btn btn-primary">Join</button>
                </div>
            </div>

            <hr>
        </div>
        <!--/row-->
    </div>
</div>
<!--/.container-->


<!-- script references -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->

<script src="/javascripts/scripts.js"></script>
<script src="/javascripts/jquery.js"></script>

<script src="/javascripts/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>