<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %>></title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="/stylesheets/myVideo.css" rel="stylesheet">
    <link href="/stylesheets/chatStyle.css" rel="stylesheet">
    <link href="/stylesheets/RecordedResult.css" rel="stylesheet">
    <script src="/javascripts/webrtc.io.js"></script>
    <script src="/javascripts/RecordRTC.js"></script>


</head>
<body onload="init()">
<div id="info">
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
        microphone settings</a>

    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
    </a>

    <p id="info_upgrade"><a href="//www.google.com/chrome"></a>
    </p>
</div>
<div id="container">
    <div id="wrapper">
        <img id="recordimg" src="/images/recordimg.jpg">
        <img id="backhome" src="/images/home.jpg">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <div id="sidebar-friends-list">
                <ul class="sidebar-friends">
                </ul>
            </div>


            <div id='sidebar-nav'>
                <table id='sidebar-table'>
                    <tr>
                        <td><a href="#" id="glyphicon-record" class="glyphicon glyphicon-facetime-video"></a></td>
                        <td><a href="#" id="glyphicon-comment" class="glyphicon glyphicon-comment"></a></td>
                        <td><a href="#" id="glyphicon-sharescreen" class="glyphicon glyphicon-screenshot"></a></td>
                    </tr>
                    <tr>
                        <td><a href="#" id="glyphicon-repeat" class="glyphicon glyphicon-repeat"></a></td>
                        <td><a href="#" id="glyphicon-logout" class="glyphicon glyphicon-log-out"></a></td>
                    </tr>
                </table>
            </div>

        </div>


        <div id="guidemsg">

        </div>



        <div id="chatting-space"> <!-- chatStyle.css-->
            <div id="chat-top">
                <div id="right">
                    <div id="start_button" onclick="startButton(event)">
                        <img id="start_img" src="/images/mic.gif" alt="Start">
                    </div>
                </div>
            </div>
            <div id="results">

                <span id="final_span" class="final"></span> <!-- sst.js-->
                <span id="interim_span" class="interim"></span> <!-- sst.js-->

                <p id="upload" class="hidden"><label>Drag & drop not supported, but you can still upload via this input field:<br><input type="file"></label></p>
                <p id="filereader">File API & FileReader API not supported</p>
                <p id="formdata">XHR2's FormData is not supported</p>
                <p id="progress">XHR2's upload progress isn't supported</p>
            </div>
            <div id="chatinput-space">
                <input id="chatinput" style="border-top:2px;" type="text" placeholder="Message:"/>
            </div>
            <div id="hideShowMessages" class="button">toggle chat</div>
        </div>


        <!-- 녹화된 목록을 보여주는 List -->
        <div id="Recorded-List-container">
            <div id="Recorded-List-Top">
                <p id="Recorded-List-Top-text1"></p>
                <p id="Recorded-List-Top-text2">Recorded List</p>
                <p id="Recorded-List-Top-text3"></p>
            </div>
            <ul class="Recorded-list">

            </ul>
        </div>

        <div id="Recorded-Video-container">
            <div id="Recorded-Videos">
            </div>
            <div id="Recorded-Videos-controlbar">
            </div>
        </div>


        <div id="Alert-space">
            <p id="Alert-space-text-top"></p>
            <p id="Alert-space-text"></p>
        </div>


        <div id="Wvideos">
            <video id="local-video" autoplay>
            </video>
        </div>
        <div id="footer">
            <div id="minivideos">
            </div>
        </div>

        <div id="div_language">
            <select id="select_language" onchange="updateCountry()"></select>
            &nbsp;&nbsp;
            <select id="select_dialect"></select>
        </div>


    </div>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery (1).js"></script>
-->
<script src="/javascripts/tjNetworkConnector.js"></script>
<script src="/javascripts/defaultUserinfo.js"></script>

<script src="/javascripts/stt.js"></script>
<script src="/javascripts/sonOfScript.js"></script>
<script src="/javascripts/script.js"></script>
<script src="http://cdn.binaryjs.com/0/binary.js"></script>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->

<div class="buttonBox">
    <!--<div id="fullscreen" class="button">Enter Full Screen</div>-->
    <!--<div id="newRoom" class="button">Create A New Room</div>-->
</div>
<script>
    var results = document.getElementById('results'),
            tests = {
                filereader: typeof FileReader != 'undefined',
                dnd: 'draggable' in document.createElement('span'),
                formdata: !!window.FormData,
                progress: "upload" in new XMLHttpRequest
            },
            support = {
                filereader: document.getElementById('filereader'),
                formdata: document.getElementById('formdata'),
                progress: document.getElementById('progress')
            },
            acceptedTypes = {
                'image/png': true,
                'image/jpeg': true,
                'image/gif': true
            },
            progress = document.getElementById('uploadprogress'),
            fileupload = document.getElementById('upload');

    "filereader formdata progress".split(' ').forEach(function (api) {
        if (tests[api] === false) {
            support[api].className = 'fail';
        } else {
            // FFS. I could have done el.hidden = true, but IE doesn't support
            // hidden, so I tried to create a polyfill that would extend the
            // Element.prototype, but then IE10 doesn't even give me access
            // to the Element object. Brilliant.
            support[api].className = 'hidden';
        }
    });

    function previewfile(file) {
        if (tests.filereader === true && acceptedTypes[file.type] === true) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var image = new Image();
                image.src = event.target.result;
                image.width = 100; // a fake resize


                var a=document.createElement('a');
                a.href="/images/image.src"+".jpg";
                a.download="image";

                //span.setattribute("style","height:90%");
//                a.setAttribute("style","border-top-width:medium; border-left-width:medium; border-right-width:medium; border-top-width:medium;");


                a.appendChild(image);
                results.appendChild(a);
               // $('#down').append(image);
            };

            reader.readAsDataURL(file);
        }  else {

            results.innerHTML += '<a href="/root/path" download="sharedFile"><p>Uploaded ' + file.name + ' ' + (file.size ? (file.size/1024|0) + 'K' : '');
            console.log(file);
        }
    }

    function readfiles(files) {
        debugger;
        var formData = tests.formdata ? new FormData() : null;
        for (var i = 0; i < files.length; i++) {
            if (tests.formdata) formData.append('file', files[i]);
            previewfile(files[i]);
        }

        // now post a new XHR request
        if (tests.formdata) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/devnull.php');
            xhr.onload = function() {
                progress.value = progress.innerHTML = 100;
            };

            if (tests.progress) {
                xhr.upload.onprogress = function (event) {
                    if (event.lengthComputable) {
                        var complete = (event.loaded / event.total * 100 | 0);
                        progress.value = progress.innerHTML = complete;
                    }
                }
            }

            xhr.send(formData);
        }
    }

    if (tests.dnd) {
        results.ondragover = function () { this.className = 'hover'; return false; };
        results.ondragend = function () { this.className = ''; return false; };
        results.ondrop = function (e) {
            this.className = '';
            e.preventDefault();
            readfiles(e.dataTransfer.files);
        }
    } else {
        fileupload.className = 'hidden';
        fileupload.querySelector('input').onchange = function () {
            readfiles(this.files);
        };
    }
</script>
<script>
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>
    try {
        var pageTracker = _gat._getTracker("UA-1656750-18");
        pageTracker._trackPageview();
    } catch(err) {}</script>
<script type="text/javascript">
    function OnMouseIn(elem) {
        elem.style.border = "2px solid #0064CD";
    }
    function OnMouseOut(elem) {
        elem.style.border = "";
    }
</script>
<!-- Put this into a custom JavaScript file to make things more organized -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
</script>

</body>
</html>
